body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.experience-section:hover, 
.projects-section:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  background-color: black !important;
}



.custom-education:hover{
  background-color: black;
  color:blue;
  transform: scale(1.02);
}

.custom-projects:hover{
  background-color: black;
  color:blue;
  transform:scale(1.02);
}

.custom-projectName{
  color:white;
}
.experience-card:hover{
  background-color: rgb(245, 245, 245);
  transform: scale(1.02);
}


.custom-skills:hover{
  background-color: black !important;
  color: blue !important;
  transform: scale(1.04);
}








body{
  @media (min-width: 100px) and (max-width: 250px) {
   
   }
  /* For screens less than 768px (mobile/tablet) */
  @media (min-width: 251px) and (max-width: 575px) {
    .custom-name{ font-size: 22px;}
    .custom-frontend{ font-size:11px;}
    .custom-matter{ font-size:8px}
    .img-custom {
      width: 140px !important; /* No quotes */
      height: 140px !important; /* No quotes */
    }
  }

}